<!DOCTYPE html>
<html ng-app>
<head>
	<title>Start of an Angular Slideshow</title>
    <style>
	table {
		min-width: 100%;
	}
	tr {
		min-width: 100%;
	}
    img {
        min-width: 100%;
        max-width: 100%;
        height: auto;
    }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
</head>
<body ng-controller="SlideShowCtrl">
	<table ng-style="showStyle">
		<tr id="one" ng-show="currentSlide == 1">
			<td>
				<img ng-style="slideStyle" src="angular_slide_1.svg"/>
			</td>
		</tr>
		<tr ng-show="currentSlide == 1" style="display:none;" ng-style="displayNav">
			<td> 
				<a class="left" href="">back</a>
				<a ng-click="currentSlide = currentSlide + 1" class="right" href="#two">next</a>
			</td>
		</tr>
		<tr id="two" ng-show="currentSlide == 2">
			<td>
				<img ng-style="slideStyle" src="angular_slide_2.svg"/>
			</td>
		</tr>
		<tr ng-show="currentSlide == 2" style="display:none;">
			<td>
				<a ng-click="currentSlide = currentSlide - 1" class="left" href="#one">back</a>
				<a ng-click="currentSlide = currentSlide + 1" class="right" href="#three">next</a>
			</td>
		</tr>
		<tr id="three" ng-show="currentSlide == 3">
			<td>
				<img ng-style="slideStyle" src="angular_slide_3.svg"/>
			</td>
		</tr>	
		<tr ng-show="currentSlide == 3" style="display:none;">
			<td>
				<a ng-click="currentSlide = currentSlide - 1" class="left" href="#two">back</a>
				<a ng-click="currentSlide = currentSlide + 1" class="right" href="#four">next</a>
			</td>
		</tr>
		<tr id="four" ng-show="currentSlide == 4">
			<td>
				<img ng-style="slideStyle" src="angular_slide_4.svg"/>
			</td>
        </tr>
        <tr ng-show="currentSlide == 4" style="display:none;">
            <td>
                <a ng-click="currentSlide = currentSlide - 1" class="left" href="#three">back</a>
                <a class="right" href="">next</a>
            </td>	
        </tr>    
    </table>
    <script>
        function SlideShowCtrl($scope, $window) {
            $scope.currentSlide = 1;
            $scope.height = 0;
            $scope.width = 0;
            $scope.displayNav = {display: "block"};
            $scope.showStyle = {};
            $scope.slideStyle = {};

            $scope.updateHeight = function () {
                $scope.height = $window.innerHeight;
            }

            $scope.updateWidth = function () {
                $scope.width = $window.innerWidth;
            }

            $scope.slideAreaAdjustment = function () {
                if ($scope.height < $scope.width) {
                    var showHeight = $scope.height + "px";
                    var slideHeight = Math.round($scope.height * 0.90) + "px";
                    $scope.showStyle = { minHeight: showHeight, maxHeight: showHeight};
                    $scope.slideStyle = { maxHeight: slideHeight};
                } else {
                    $scope.showStyle = {};
                    $scope.slideStyle = {}
                }
            }

            $scope.updateHeight();
            $scope.updateWidth();
            $scope.slideAreaAdjustment();

            $window.onresize = function () {
                $scope.updateWidth();
                $scope.updateHeight();
                $scope.columnAdjustments();
                $scope.$apply();
            }
        }
    </script>
</body>
</html>
