<!DOCTYPE html>
<html ng-app>
<head>
	<title>Start of an Angular Slideshow</title>
    <style>
	table {
		min-width: 100%;
	}
	tr {
		min-width: 100%;
	}
    img {
        min-width: 100%;
        max-width: 100%;
        height: auto;
    }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
</head>
<body ng-controller="SlideShowCtrl">
	<table>
		<tr ng-show="currentSlide == 1">
			<td>
				<img src="angular_slide_1.svg"/>
			</td>
		</tr>
		<tr ng-show="currentSlide == 1" style="display:none;" ng-style="display:block;">
			<td> 
				<a class="left" href="">back</a>
				<a ng-click="currentSlide = currentSlide + 1" class="right" href="#two">next</a>
			</td>
		</tr>
		<tr ng-show="currentSlide == 2">
			<td>
				<img src="angular_slide_2.svg"/>
			</td>
		</tr>
		<tr ng-show="currentSlide == 2" style="display:none;" ng-style="display:block;">
			<td>
				<a ng-click="currentSlide = currentSlide - 1" class="left" href="#one">back</a>
				<a ng-click="currentSlide = currentSlide + 1" class="right" href="#three">next</a>
			</td>
		</tr>
		<tr ng-show="currentSlide == 3">
			<td>
				<img src="angular_slide_3.svg"/>
			</td>
		</tr>	
		<tr ng-show="currentSlide == 3" style="display:none;" ng-style="display:block;">
			<td>
				<a ng-click="currentSlide = currentSlide - 1" class="left" href="#two">back</a>
				<a ng-click="currentSlide = currentSlide + 1" class="right" href="#four">next</a>
			</td>
		</tr>
		<tr ng-show="currentSlide == 4">
			<td>
				<img src="angular_slide_4.svg"/>
			</td>
        </tr>
        <tr ng-show="currentSlide == 4" style="display:none;" ng-style="display:block;">
            <td>
                <a ng-click="currentSlide = currentSlide - 1" class="left" href="#three">back</a>
                <a class="right" href="">next</a>
            </td>	
        </tr>    
    </table>
    <script>
        function SlideShowCtrl($scope) {
            $scope.currentSlide = 1;
        }
    </script>
</body>
</html>
